<h3> Welcome to DevExpress ASP.NET Core Controls!</h3>
To learn more about DevExpress ASP.NET Core Controls, visit us at <a href="https://demos.devexpress.com/aspnetcore-bootstrap/">DevExpress</a>

Use this project as a way to quickly start any new project. Simply remove redundant Controllers, Views, and Models and you are done.