@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">A boilerplate for ASP.NET Core MVC projects using the DevExpress Bootstrap Controls.</p>
  <hr class="my-4">
      <p>
      This project demonstrates how to use DevExpress Bootstrap Controls in an ASP.NET Core application. 
      If you would prefer to delete the sample data from this project remove the following files and folders: <code>Controllers/SampleController.cs</code>, <code>Data</code>, <code>Models/NorthwindContext.cs</code>, <code>Models/Person.cs</code>, <code>Views/Sample</code>.
      </p>
  <p>Please provide us feedback via the <a href="https://www.devexpress.com/Support/Center/Question/Create">DevExpress Support Center</a>.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://demos.devexpress.com/aspnetcore-bootstrap" role="button" target="_blank">See Demos</a>
  </p>
</div>
